#### 处理丢失数据
- 有两种丢失数据：
  - None
  - np.nan(NaN)

In [2]:
import numpy as np
type(None)

NoneType

In [3]:
type(np.nan)

float

- 为什么在数据分析中需要用到的是浮点类型的空而不是对象类型
  - 数据分析中会常常使用某些形式的运算来处理原始数据，如果原始数据中的空值为NaN的形式，则不会干扰或者中断运算
  - NaN可以参与运算的
  - None是不可以参与运算的

- 在pandas中如果遇到了None形式的空值，则pandas会将其强转成NaN形式

In [4]:
np.nan + 1

nan

#### pandas处理空值的操作
- isnull
- notnull
- any
- all
- dropna
- fillna

In [5]:
import pandas as pd
from pandas import DataFrame, Series

In [6]:
# 伪造一组数据（存在空值)
df = DataFrame(data=np.random.randint(0, 100, size=(8, 6)))
df.iloc[2, 3] = None
df.iloc[4, 4] = np.nan
df.iloc[5, 2] = None
df

    0   1     2     3     4   5
0   3   9  98.0  79.0  96.0  11
1  86   8  30.0  86.0   0.0  29
2  47  82  47.0   NaN   2.0  19
3  75  21  74.0  68.0   2.0  24
4  52  90  46.0  64.0   NaN  48
5  72   4   NaN  92.0  96.0  13
6  87   1   2.0  34.0   3.0  65
7  61   2  81.0  95.0  91.0   2

In [7]:
df.notnull()

      0     1      2      3      4     5
0  True  True   True   True   True  True
1  True  True   True   True   True  True
2  True  True   True  False   True  True
3  True  True   True   True   True  True
4  True  True   True   True  False  True
5  True  True  False   True   True  True
6  True  True   True   True   True  True
7  True  True   True   True   True  True

In [8]:
# any用来检测行或列中是否存在空值
# 将上步的bool值作为原数据的行索引
drop_index = df.loc[(df.isnull().any(axis=1))].index
df.drop(labels=drop_index, axis=0) # 将缺失行删除

    0   1     2     3     4   5
0   3   9  98.0  79.0  96.0  11
1  86   8  30.0  86.0   0.0  29
3  75  21  74.0  68.0   2.0  24
6  87   1   2.0  34.0   3.0  65
7  61   2  81.0  95.0  91.0   2

In [9]:
df.notnull().all

<bound method DataFrame.all of       0     1      2      3      4     5
0  True  True   True   True   True  True
1  True  True   True   True   True  True
2  True  True   True  False   True  True
3  True  True   True   True   True  True
4  True  True   True   True  False  True
5  True  True  False   True   True  True
6  True  True   True   True   True  True
7  True  True   True   True   True  True>